*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #186be8, #00a2fe, #00c9dc, #40e7a9, #d9fa90);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 450px;
    height: 350px;
    border-radius: 10px;
    /* background-image: linear-gradient(to bottom, #752182, #ab327c, #d15375, #ec7b73, #fda57b); */
    background-color: #ffffff;
    box-shadow: 2px 3px 6px black ,-2px -3px 6px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
span{
    font-size: 30px;
}
.btns{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;

}
.increase{
    width: 26%;
    height: 25px;
    font-size: 18px;
}
.decrease{
    width: 26%;
    height: 25px;
    font-size: 18px;
}
.reset{
    width: 26%;
    height: 25px;
    font-size: 18px;
}