*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}
.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 5px 50px;
}
h2{
    font-size: 30px;
    color: orange;
    margin-left: 20px;
}
.dropdown{
    transition: 0.5s;
}
.dropdown button{
    /* width: 200px; */
    font-size: 23px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 7px 40px;
    background-color: palegreen;
}
.dropdown .content a{
    /* width: 30px; */
    display: block;
    background-color: orange;
    text-decoration: none;
    color: white;
    padding: 4px 30px;
}
.dropdown .content{
    display: none;
    /* width: 100px; */
    margin-left: 10px;
    box-shadow: 2px 2px 3px black;
    position: absolute;
}
.dropdown:hover .content{
    display: block;
    transition: all 0.3s;
    z-index: 999;
}
.content1{
    position: absolute;
    /* z-index: 790; */
    /* top: 50px; */
}
