*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: rgb(117,195,34);    
    background: linear-gradient(0deg, rgba(117,195,34,0.9714386242778361) 0%, rgba(45,247,253,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.header{
    width: 300px;
    height: 60px;
    /* background-color: red; */
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
}
.header img{
    width: 30px;
    height: 23px;
}
.header span{
    font-size: 24px;
    font-weight: 600;
    color: rgb(117,195,34);
    text-shadow: 2px 2px 3px aqua;
}
.task-add{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    margin-top: 30px;
}
.task-add input{
    width: 60%;
    height: 30px;
    border: 2px solid aqua;
    /* border-bottom: 2px solid black; */
    outline: none;
    margin-right: 10px;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;

}
.task-add button{
    width: 60px;
    background-color: aqua;
    font-size: 19px;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
}
.task-container{
    width: 70%;
    margin: 30px auto;
}
.list-items{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 17px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;

}
.item::before{
    content: "";
    height: 18px;
    position: absolute;
    background-image: url(assests/checked.png);
    background-position: center;
    background-size: cover;
    bottom: -3px;
    width: 18px;
    left: -20px;
    top: 1px;
    border-radius: 52px;
}
.list-items .checked{
    text-decoration: line-through
    
}